{% extends 'hrms/layout.html' %}
{% load static %}
{% block title %} Attendance| ITSC-HRMS {% endblock title %}

{% block content %}

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'hrms:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Break </li>
                    </ol>
                </nav>

                <div class="col-lg-12 grid-margin">

                    <div class="card">

                        <div class="card-body">
<!--                           <h4 class="text-center text-primary"><i class="fa  fa-check-square-o">&emsp; Employee Attendance </i></h4><hr>-->
                                
                            <h4 class="text-center text-primary"><i class="fa  fa-circle">&nbsp;Take A Break </i> </h4><hr>

<!--                            <small class='text-center'>This is a list of staffer(s) that are currently present. </small>-->
                             <div class="table-responsive">
                                        <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Date
                                                        </th>
                                                        <th>
                                                            Break-In
                                                        </th>
                                                        <th>
                                                            Break-Out
                                                        </th>
                                                        <th>
                                                            Details:
                                                        </th>
                                                        <th>
                                                            Name
                                                        </th>
                                                        <th>
                                                            Action(s)
                                                        </th>
                                                    </tr>
                                                </thead>
                        
                                                {% if user.is_superuser%}
                                                    {% for ps in present_staffers %}
                                                        <tr>
                                                            <td class="py-1">
                                                                {{today}}
                                                            </td>
                                                            <td>
                                                            {{ps.break_in}}
                                                            </td>
                                                            <td>

                                                                {{ps.break_out }}
                                                            </td>
                                                            <td>
                                                            <form method="post">
                                                                {% csrf_token %}
                                                                <label>
                                                                    <input type="checkbox" id="checkbox1" onchange="disableCheckboxes(this)">
                                                                    Lunch
                                                                  </label><br>
                                                                
                                                                  <label>
                                                                    <input type="checkbox" id="checkbox2" onchange="disableCheckboxes(this)">
                                                                    Tea
                                                                  </label><br>
                                                                
                                                                  <label>
                                                                    <input type="checkbox" id="checkbox3" onchange="disableCheckboxes(this)">
                                                                    Bio
                                                                  </label>
                                                            </form>
                                                            </td>
                                                            <td>
                                                                {{ps.staff.first_name}} - {{ ps.staff.last_name}}
                                                            </td>
                                                            <td>

                                                            </td> 
                                                            <td>                                                              
                                                                <a href="{% url 'hrms:break_in' pk=ps.staff.pk %}" {% if not ps.break_in %} class="btn btn-sm btn-info"  {% endif %} class="btn btn-sm btn-info disabled" > <i class="fa fa-sign-in"></i> Break-in</a>
                                                                <a href="{% url 'hrms:break_out' pk=ps.staff.pk %}"  class="btn btn-sm btn-info " class="btn btn-sm btn-info disabled"  id="breakout"> <i class="fa fa-sign-out"></i> Break-out</a>
                                                            </td> 
                                                        </tr>

                                                      {% endfor %}
                                                    {% else %}
                                                    {% for ps in present_staffers %}
                                                      {% if user.first_name  ==  ps.staff.first_name and user.last_name == ps.staff.last_name%}
                                                       <tr>
                                                           <td class="py-1">
                                                               {{ps.date}}
                                                           </td>
                                                           <td>
                                                           <strong>{{ps.break_in}}</strong>
                                                           </td>
                                                           <td>

                                                               <strong>{{ps.break_out }}</strong>
                                                           </td>
                                                           <td>
                                                           {{ps.staff.first_name}} - {{ps.staff.last_name}}
                                                           </td>
                                                           <td>
                                                            <a href="{% url 'hrms:break_in' pk=ps.staff.pk %}" {% if not ps.break_in %} class="btn btn-sm btn-info"  {% endif %} class="btn btn-sm btn-info disabled" > <i class="fa fa-sign-in"></i> Break-in</a>
                                                            <a href="{% url 'hrms:break_out' pk=ps.staff.pk %}"  class="btn btn-sm btn-info " class="btn btn-sm btn-info disabled" > <i class="fa fa-sign-out"></i> Break-out</a>
                                                           </td>
                                                       </tr>
                                                      {% endif %}
                                                     {% endfor %}
                                                  {% endif %}
                                                    
                                                       
            
                                                   
                                                </tbody>
                                            </table>
                                        </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        function disableCheckboxes(checkbox) {
          var checkboxes = document.querySelectorAll('input[type="checkbox"]');
          checkboxes.forEach(function(cb) {
            if (cb !== checkbox) {
              cb.disabled = checkbox.checked;
            }
          });
        }
    </script>


{% endblock content %}